.product {
    display: grid;
    background-color: var(--clr-white);
    border-radius: var(--rounded-sm);
    overflow: hidden;
    max-width: 37.5rem;
    width: 100%;
}

.productBanner {
    width: 100%;
    height: 100%;
}

.productContent {
    display: flex;
    flex-direction: column;
    gap: var(--space-300);
    padding: var(--space-400);
}

.productIntroduction {
    display: flex;
    flex-direction: column;
    gap: var(--space-300);
}

.productTag {
    font-size: .75rem;
    line-height: 1.2;
    letter-spacing: 0.4em;
    text-transform: uppercase;
}

.productPrice {
    display: flex;
    align-items: center;
    gap: var(--space-200);
}

.productCurrentPrice {
    font-family: var(--ff-header);
    font-size: var(--fs-header);
    font-weight: 700;
    line-height: 1;
    color: var(--clr-green-500);
}

.productPreviousPrice {
    font-size: .8125rem;
    line-height: 1.2;
}

@media screen and (min-width: 48rem) {

    .product {
        grid-template-columns: repeat(2, 1fr);
    }

    .productContent {
        gap: var(--space-400);
    }
}